*{
  margin:0;
  padding:0;
  font-size:16px;
  font-family: sans-serif;
  line-height:1.4em;
}
#ui{
  padding:8px;
  border-radius:4px;
  border: 1px solid #ccc;
  background:white;
  margin: 16px;
  color:#333;
}
#canvas{
  position:relative;
  z-index:4;
  background:#f5f5f5;
}
.company{
  background:rgb(170, 70, 39);
  border-radius:8px;
  padding:16px;
  color:white;
  position:absolute;
  top:64px;
  left:16px;
}
.companies ul{
  font-size:0;
}
.companies li{
  display:inline-block;
}
a.build_company{
  display:inline-block;
  padding:8px;
  text-decoration: none;
  cursor:pointer;
  background:white;
  font-size:16px;
  border-radius:4px;
  margin:4px;
}
#thinking{
  width: 200px;
  background: rgba(0,0,0,0.6);
  color: white;
  border-radius: 4px;
  margin: -20px -100px;
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 16px 0;
  text-align: center;
  z-index: 10;
  display: none;
}
#chart {
  height: 300px;
  display: none;
}
#cards{
  margin:16px;
}
#cards .card{
  display: inline-block;
  padding: 16px;
  border: 1px solid #AFAFAF;
  margin-right: 16px;
  border-radius: 4px;
  box-shadow: 8px 8px 8px #ccc;
}
ul.inputs{

}
ul.inputs li{
  list-style:none;
}
ul.inputs li input{
  border:1px solid #ccc;
  padding:7px;
  border-radius:2px;
  margin-bottom: 4px;
}
#ui ul li a.delete {
  text-decoration: none;
  color: #ccc;
  margin-left: -20px;
}
.more.btn{
  background:lightgreen;
}
.btn{
  padding:8px;
  text-decoration: none;
  color:white;
  background:#999;
  display:inline-block;
  margin-bottom:8px;
  border-radius:2px;
}
.hidden{
  display:none;
}